<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Multiplos de 3</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    {% if multiposThree.length > 0 %}
                        {% for three in multiposThree %}
                            <li>{{ three }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Multiplos de 5</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    {% if multiposFive.length > 0 %}
                        {% for five in multiposFive %}
                            <li>{{ five }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Multiplos 3 y 5</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    {% if general.length > 0 %}
                        {% for gen in general %}
                            <li>{{ gen }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>